version: "3.9"

services:
  app:
    build: .
    container_name: fastapi_app
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MONGODB_URL: mongodb://mongo:27017
    restart: always

  mongo:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
